.box-form-pedido {
    background-color: #FFF;
    width: 100%;    
}
.unique-data {
    display: inline-block;
    width: 100%;

    max-width: 1200px;
    margin-left: 350px;
  }
.row {
    display: flex;
    flex-wrap: wrap;
}
.row2 {
    flex: 0 0 16.66667%;
    display: block;
    max-width: 200px;
}
.containerCL-records-list-blocked {
    z-index: 99;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 0.072rem;
    border: 1px solid;
    border-color: rgb(201, 199, 197);
    border-radius: 0.25rem;
    background-color: rgb(236, 235, 234);
  }
  
  .containerCL-records-list .list-item {
    cursor: pointer;
  }
  
  .containerCL-records-list .list-item:hover {
    background-color: #f3f2f2;
  }
  
  .containerCL .selected-record {
    background-color: #FFF;
    border: 1px solid rgb(221, 219, 218);
    border-radius: 0.25rem;
    max-height: 42px;
  }
  
  .containerCL .selected-record-blocked {
    background-color: var(--lwc-colorBackgroundInputDisabled,rgb(236, 235, 234));
    border-radius: 0.25rem;
    border: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorderInputDisabled,rgb(201, 199, 197));
    max-height: 32px;
    cursor: not-allowed;
  }
  .containerCL-records-list {
    z-index: 99;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 0.072rem;
    border: 1px solid rgb(221, 219, 218);
    border-radius: 0.25rem;
    background-color: #FFF;
  }
  .containerCL {
    /* width: 280px; */
    /* height: 15px; */
    height: 50px;
  }
  .containerCL2 {
    /* width: 280px; */
    /* height: 15px; */
    height: 300px;
  }
.lb-commom {
    font-size: 0.8rem;
    color: #727C8E;
    padding-bottom: 5px;
    padding-top: 15px;
}
.content {
    font-size: 0.7rem;
    font-weight: bold;
    position: relative;
}
.ProductImageDiv {
    margin: 6%;
    display: flex;
    justify-content: center;
}
.nomeDaMarca {
    background-color: #A0A0A0;
    margin-left: 4%;
    width: max-content;
    height: max-content;
    border-radius: 4px;
    padding: 2px 4px 2px 4px;
    font-size: 10px;
    line-height: 13.62px;
    font-weight: 700;
    color: white;
}
.productName {
    margin: 4%;
    font-size: 14px;
    font-weight: 500;
    width: inherit;
    line-height: 18.62px;
    color: #181818;
}
.priceDiv {
    margin-left: 4%;
    margin-top: 8%;
}
.priceValue {
    font-size: 16px;
    font-weight: 700;
    line-height: 21.28px;
}
.buttonAddProduct {
    width: 100%;
}
.buttonAddProductDiv {
    margin: 4%;
    display: flex;
    justify-content: center;
}
.widthField2 {
    width: 49%;
}
.divResumo {
    width: 90%; 
    margin-left: 3%; 
    margin-top: 2%; 
    background-color: #F3F3F3; 
    border-style: solid; 
    border-radius: 8px; 
    border-color: #0176d3;
    border-width: 1px;
}
.divResumo2 {
    width: 90%; 
    margin-left: 6%; 
    margin-top: 5%; 
    background-color: #F3F3F3; 
    border-style: solid; 
    border-radius: 8px; 
    border-color: #0176d3;
    border-width: 1px;
  }
.divTotalValue {
    color: #0176d3; 
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1.5px solid #aaa;
    align-items: baseline;
    margin: 5%;
    justify-content: space-between;
}
.producsAdds {
    color: #0176d3; 
    font-size: 16px;
    font-weight: 700;
    border-bottom: 2.5px solid #1b96ff;
    margin: 3%;
    width: 90%;
    margin-top: 5%;
}
.pTotalValue {
    margin-bottom: 5%;
}
.divTotalItens {
    color: #444444;
    font-size: 16px; 
    margin: 5%; 
    font-weight: 400;
    justify-content: space-between;
}
.pTotalItens {
    font-weight: 700;
}
.divProductNameAdd {
    justify-content: space-between;
    align-items: center; 
}
.divProductPriceAdd {
justify-content: space-between;
align-items: center; 
}
.productNameAdd {
    width: 65%;
    color: #0B5CAB; 
    font-size: 13px;
    font-weight: 499;  
}
.divLenghtButtons {
    display: flex;
    --slds-c-button-radius-border: 20px;
    justify-content: space-around;
    padding-top: 5px;
    width: 35%;
    height: 32px;
    border: 1px solid;
    border-color: #0176D3;
    border-radius: 4px;
  }
.productLenghtAdd {
color: #2E2E2E; 
font-size: 13px;
font-weight: 450;  
}